* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

body {
  width: 1200px;
  height: 100vh;
  margin: 50px auto;
}

h4,
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.fields {
  display: flex;
  flex-direction: column;
}

.fields input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
